.incomplete {
  border-left: 5px red solid;
}

.complete {
  border-left: 5px green solid;
}

.list-item {
  margin: 5px;
  padding: 10px;
  display: flex;
}

.title {
  flex: 1 0 auto;
  margin: 10px;
}

mat-checkbox.checkbox {
  margin-top: 10px;
}


